<html lang="nl">

<head>

    <title>Het is Verrukkuluk! - {{ title }} - </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"> #}
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" href="vegas/vegas.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="vegas/vegas.js"></script>

    <script>

        $(document).ready(function () {
            
            /// Menu dropdown ///
            $("#menu").click(function() {
                $(".menuDropdown").slideDown()
                $(".headerLogo").fadeOut()
            })

            $("#menuClose").click(function() {
                // if button is pressed, toggle, else slideUp
                $(".menuDropdown").slideUp()
                $(".headerLogo").fadeIn()
            })

            /// Vegas ///
            var mySlides = [];

            {% for record in data %}
                mySlides.push({
                    src: "{{ record.dish.image }}"
                });
            {% endfor %}
            
            $("#background-image").vegas({
                slides: mySlides,
            })

        })

    </script>

    {# <script>
        /// Rating ///
        function updateRatings(dish_id, rating = null) {
            
            $.ajax({
                url: `http://localhost/educom-verrukkulluk/index.php?dish_id=${dish_id}&rating_value=${rating}&action=rating`,
                method: "GET",
                success: function(result) {
                    
                    var ratingAverage = Math.round(result.average);
                    
                    $(`.star[dishID="${dish_id}"]`).each( (index, element) => {
                        const itemValue = $(element).attr("ratingValue");
                        if(itemValue <= ratingAverage) {
                            $(element).addClass("filledStar");
                        }else{
                            $(element).removeClass("filledStar");
                        }
                    })
                }
            })
        }
    </script> #}

    {% block script %}
    {% endblock %}

</head>


<body>

<div class="container-fluid">

{## Header ##}

    {# Vegas carousel #}
    <div id="background-image">
        
        <div class="row">

        {# Logo #}
            <div class="col-4">
                <a href="http://localhost/educom-verrukkulluk/index.php"><img class="headerLogo" src="assets/img/logo-v2.png"></a>
            </div>
            
            <div class="col-4"></div>
            
        {# Clickable menu button #}
            <div class="col-4 d-flex justify-content-end pt-5 pr-5">
                <div id="menu"><i class="fa-solid fa-bars menu-trigger"></i></div>
            </div>

        {# Dropdown menu #}
            <div id="menuClose" class="menuDropdown boxShadow">
                <div class="row">
                    <div class="col-5">
                        <a href="http://localhost/educom-verrukkulluk/index.php"><img class="menuLogo" src="assets/img/logo-v2.png"></a>
                    </div>
                    <div class="col-3 menuButton"><h1>Mijn Favorieten</h1></div>
                    <div class="col-4 menuButton"><h1>Mijn Boodschappenlijst</h1></div>
                </div>
            </div>
            
        </div>
        
    </div>


{## Body ##}

    <div class="row m-5">

        <div class="col-4">
            
        {# Agenda #}
            <div class="row agenda boxShadow mb-5">
                                    
                <div><img class="titleLogo" src="assets/img/verrukkulluk-agenda.png"></div>

            {# Agenda entries, maybe use loop instead? #}
                <div class="row">

                    {% set agendaEntry = {'De perfecte pizzabodem': 'Een workshop over de wetenschap achter het perfecte pizzadeeg, onder leiding van Donatello.', 'Pizza bakken': 'Leer de geheimen van het bakken van de klassieke New Yorkse pizza samen met Raphael.', 'Pizza proeverij': 'Leonardo neemt je mee op een ontdekkingsreis van nieuwe smaakcombinaties en leert je ze op nieuwe manieren waarderen.', 'Ninja pizza': 'Leer van Michelangelo de eeuwenoude kunst van het laten verdwijnen van pizza - zonder sporen.', 'Pizza bestellen': 'De Turtles leren je het geheim van de beste pizza bestellen. Bovendien zorgen zij dat je nooit meer te veel betaalt voor een te laat bezorgde pizza.'} %}

                    {% for title, description in agendaEntry %}
                        
                        <div class="row">

                            <div class="col-1"></div>
                            <div class="col-2 d-flex justify-content-center">
                                <div><i class="fa-regular fa-calendar-days agendaIcon"></i></div>
                            </div>

                            <div class="col-8">
                                <div>
                                    <h4 class="agendaTitle">{{ title }}</h4>
                                    <p class="agendaDescription">{{ description }}</p>
                                </div>
                            </div>

                        </div>

                    {% endfor %}
                
                </div>

                <div class="row spacer"></div>

            </div>

        {# Login form #}
            <div class="row login boxShadow">

                <div>
                    <img class="titleLogo" src="assets/img/verrukkulluk-login.png">
                </div>

                <div class="row">
                    
                    <div class="col-1"></div>
                    
                    <div class="col-10">

                        <form method="post" action="https://api.dev-master.ninja/html/form">
                                <p class="loginDescription">Email</p>
                                <input type="email" name="email" class="loginInput"><br>
                                <p class="loginDescription">Wachtwoord</p>
                                <input type="password" name="password" class="loginInput">
                                <input type="submit" name="loginButton" value="Login" class="loginButton boxShadow">
                        </form>
                    
                    </div>
                
                </div>

            </div>

        </div>

    {# Dishes #}
        <div class="col-8">
            {%  block content %}
            {%  endblock %}
        </div>

        {# Create pagination block in homepage.html.twig, use the spacers below in detail.html.twig #}
        {# <div class="row spacer"></div>
        <div class="row spacer"></div> #}

    </div>


{## Footer ##}

    <div class="row footer">
        
    {# Logo #}
        <div class="col-2">

            <div class="row">
                <div class="col-12"><img class=footerBurger src="assets/img/verrukkulluk-pay-off.png"/></div>
            </div>

        </div>

    {# Content #}
        <div class="col-2">

        {# Contact #}
            <div class="row">
                <div ><img class=footerContact src="assets/img/verrukkulluk-contact.png"/></div>
            </div>

        {# Information #}
            <div class="row">
                <div >
                    <p class = footerContent>
                    <br>Verrukkuluk.nl
                    <br>Poststraat 2b
                    <br>Sittard
                    <br>info@verrukkuluk.nl</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
